<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="database.properties" />

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
    </settings>

    <typeAliases>
        <!-- Model 등록 -->
        <package name="org.hae.server.domain.user.model"/>
    </typeAliases>

    <mappers>
        <!-- Mapper 등록-->
        <mapper resource="mappers/mysql/main/user/UserMapper.xml" />
    </mappers>

</configuration>